<div>
    <h1 class="text-2xl italic text-[#464646]">DuckDuckGoSearch + Angular Signal Agent</h1>
    <h3 class="text-lg text-[#464646] underline">Ask agent to find answers from DuckDuckGoSearch or Angular Signal tools</h3>
</div>